<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create New Message</title>
</head>
<body>
<h3>Create new message:</h3>
<form action="/message/create" method="post">
  <table>
    <tr>
      <td><label for="text">Text:</label></td>
      <td><input type="text" name="text"></td>
    </tr>
    <tr>
      <td><label>Destroy message after:</label></td>
      <td><input type="number" name="destruction_option_value" min="1" value="1"></td>
      <td><select name="destruction_option" id="destruction_option">
        <option value="link_visits" selected>link visits</option>
        <option value="hours">hours</option>
      </select></td>
    </tr>
    <tr>
      <td><input type="submit" value="Create message"></td>
    </tr>
  </table>
  <a href="/">Back to Index</a>
</form>
</body>
</html>