<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message</title>
</head>
<body>
Your message: <%= AES.decrypt(@message.text, @message.encryption_key) %><br>
<% if @message.destroyed_via_link_visits? %>
  Visits remaining: <%= @message.visits_remaining %>
<% else %>
  Will be destroyed after: <%= @message.time_remaining %>
<% end %>
<br>
<a href="/">Create new message</a>
</body>
</html>